body {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f8f8;
}

body {
  overflow-x: hidden;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

.Des {
  display: block;
  margin-top: 40px;
  border-radius: 50%;
  width: 300px;
  margin-right: 80px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 40px;
  margin-top: 20px;
}

.left {
  color: oklab(0% 0 0);
  height: 20px;
  font-weight: bold;
  font-size: 40px;
}

.left:hover {
  opacity: 0.5;
  color: grey;
}

.right a {
  color: black;
  font-size: 16px;
  font-weight: 250;
  padding: 5px;
  margin: 4px;
  text-decoration: none;
}

.right a:hover {
  opacity: 0.3;
}

.linkedin:hover {
  color: #0000ff;
}

/*SECTION 1: Hero */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section .statement {
  flex: 5;
}

.hero-section .headphoto {
  flex: 2;
}

.statement h2 {
  font-size: 30px;
  margin-top: 110px;
  margin-left: 20px;
}

.P1 {
  margin-left: 20px;
  font-size: 22px;
  width: 900px;
}

.P11 {
  margin-left: 20px;
  font-size: 22px;
   width: 900px;
}

.links a {
  text-decoration: none;
  display: inline-block;
  padding: 7px;
  margin-left: 18px;
  border-color: #0000ff;
  color: #0000ff;
  border: solid;
  border-radius: 7px;
  margin-top: 20px;
}

.links a:hover {
  color: darkgrey;
  border: solid;
  opacity: 0.8;
  transition: 0.1s;
}

/* SECTION 2: Skills */

.skills-section {
  margin: 80px;
}

.skills-section h2 {
  text-align: center;
  font-size: 25px;
}

.skills-section .cells {
  display: inline-block;
}

.skills-section .cells .cell {
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 100px;
}

.skills-section .text {
  text-align: center;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* SECTION 3: Certifications */
.certification-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.certification-section h2 {
  text-align: center;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 30px;
  font-weight: bold;
}

.certification-section .text {
  display: flex;
  text-align: center;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  margin: 50px;
}

/* SECTION 4: Contact */
.contact-section {
  margin-top: 50px;
  margin: 50px;
}

.contact-section h2 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.contact-section .text {
  display: flex;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
}

.contact-section form {
  justify-content: center;
  align-items: center;
  }

.contact-section form input,
.contact-section form textarea {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid blue;
  padding: 14px;
  margin-bottom: 15px;
  display: block;
  border-radius: 7px;
  flex-direction: column;
  outline: none;
  width: 280px;
  resize: none;
}

.contact-section .submit {
  border-radius: 7px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 7px;
  color: #0000ff;
  border-color: blue;
  border: solid;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contact-section .submit:hover {
  color: darkgrey;
  border: solid;
  opacity: 0.6;
  transition: 0.1s;
}

.contact-section .submit:active {
  color: #069006;
  transition: 0.1s;
  border-color: 1px solid blue;
}
